site:
	name: 'dmg-service'
	globalprefixes: [
		{
			"path": "/site/dmg-service"
			"middleware":
				file: "./src/lib/middleware"
		}
	]

	hosts: [
		{
			host: 'dmg.kodhe.com'
			"middleware":
				file: "./src/lib/middleware"
		}
	]

	routes: [

		{
			path: "/dmg/create"
			method: 'all'
			file: "./src/dmg.create"
		}

		{
			path: "/dmg/download/"
			method: 'use'
			file: "./src/download"
		}

	]
